<div class="row">
<div class="col-md-4 col-md-offset-4 sign-up-background">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "form-style"}) do |f| %>
  <%= devise_error_messages! %>

  <h2>登録</h2>
  <div class="field form-group">
		<%= f.label :"　　　　　名前:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field form-group">
    <%= f.label :"メールアドレス:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.email_field :email %>
  </div>

  <div class="field form-group">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字)</em>:&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :"確認用:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :"独身ですか?" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;はい&nbsp;&nbsp;<%= f.radio_button 'single', 'true', {} %>&nbsp;&nbsp;&nbsp;&nbsp;
    いいえ&nbsp;&nbsp;<%= f.radio_button 'single', 'false', {} %>&nbsp;&nbsp;&nbsp;
  </div>

  <hr>

  <div class="field form-group">
    <%= f.label :"奥様の名前:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :wife_name %>
  </div>

  <div class="field form-group">
		<%= f.label :"奥様のメルアド:"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.email_field :wife_email %>
  </div>
	
	<div class="field form-group">
		<%= f.label :"結婚記念日:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.date_field :wedding_day %>
  </div>

	<hr>

  <div class="field form-group">
		<%= f.label :"wife_image" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.file_field :wife_image %>
  </div>

  <div class="field form-group">
    <%= f.label :"family_image"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.file_field :family_image %>
  </div>

	<hr>

  <div class="actions btn">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>

<script type="text/javascript">
$(function() {
  $('#user_wife_image').after('<span id="wife_img"></span>');
  $('#user_family_image').after('<span id="family_img"></span>');

  // アップロードするファイルを選択
  $('#user_wife_image').change(function() {
    var file = $(this).prop('files')[0];

    // 画像以外は処理を停止
    if (! file.type.match('image.*')) {
      // クリア
      $(this).val('');
      $('span').html('');
      return;
    }

    // 画像表示
    var reader = new FileReader();
    reader.onload = function() {
      var img_src = $('<img>').attr('src', reader.result).attr('style', 'width: 100px; height: 100px;');
      $('span#wife_img').html(img_src);
    }
    reader.readAsDataURL(file);
  });

  // アップロードするファイルを選択
  $('#user_family_image').change(function() {
    var file = $(this).prop('files')[0];

    // 画像以外は処理を停止
    if (! file.type.match('image.*')) {
      // クリア
      $(this).val('');
      $('span').html('');
      return;
    }

    // 画像表示
    var reader = new FileReader();
    reader.onload = function() {
      var img_src = $('<img>').attr('src', reader.result).attr('style', 'width: 100px; height: 100px;');
      $('span#family_img').html(img_src);
    }
    reader.readAsDataURL(file);
  });


});
</script>
</div>
